.table{
    width:100%;
    border-collapse: collapse;
    margin-top: 10px;
}


.table th {
    font-weight: bold;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
    text-align: left;

}

.table td{
    font:normal 16px 'Courier New','Georgia', serif;
    color: #373a3c;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table .red{
    color:red;
}

.table .orange{
    color:orange;
}