html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

.mainContaner{
    width:800px;
    margin:0 auto;
}

h1 {
    clear: both;
    font-size: 48px;
    margin-top: 20px;
    letter-spacing: -2px;
    font-weight: bold;
}

h1 a:hover,h1 a:focus {
    color: olivedrab;
}

h1 a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 22px;
}

p, ul, ol {
    margin: 15px 0 25px 0;
    padding:0 8px;
    letter-spacing: 1px;
    line-height: 25px;
}

ul li{
    float: left;
}

/*Menu*/
ul.menu {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
}

ul.menu li {
    float: left;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-top: 2px solid white;
}

ul.menu li:hover{
    border-top: 2px solid #4986e7;
}

ul.menu li a {
    display: inline-block;
    font-size: 20px;
    color:#1BA3FD;
    text-decoration: none;
}

ul.menu li.active{
    border-top: 2px solid #e9b330;
}

ul.menu li.active a{
    font-weight:bold;
}

.section{
    margin-top: 60px;
}


